.bubbleCustom {
    background-color: #E9EBF2;
    border-radius: 0px 8px 8px 8px;
    padding: 8px;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    gap: 4px;
    opacity: 0;
    text-wrap: wrap;
    max-width: 90%;
    width: fit-content;
    visibility: hidden;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.bubbleCustom.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}


.line {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    width: 48px;
    color: #A7A7A7;
    padding: 0px 8px;
}

.line .verticalLine {
    width: 2px;
    height: 88%;
    background-color: #A7A7A7;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.line .verticalLine::before {
    content: ' ';
    width: 16px;
    height: 16px;
    background-color: #A7A7A7;
    border-radius: 50%;
    position: absolute;
    left: -7px;
    top: -7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bubbleCustom .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.spacer {
    height: 24px;
}

.bubbleCustom .content .master {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.bubbleCustom .content .master .details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    gap: 24px;
    padding: 24px 16px;
    border-radius: 16px;
}

.bubbleCustom .content .master .eit {
    background-image: url('../../assets/img/MasterGraduation.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bubbleCustom .content .master .non-eit {
    background-image: url('../../assets/img/BachelorGraduation.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.bubbleCustom .content .master .details .franceFlag {
    position: absolute;
    height: 50%;
    background-color: #ffffff64;
    width: 100%;
    top: 50%;
    z-index: 1;
    left: 0px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.bubbleCustom .content .master .details .franceFlag::before {
    content: ' ';
    position: absolute;
    background-color: #00265420;
    width: 30%;
    height: 100%;
    z-index: 1;
    border-bottom-left-radius: 16px;
}

.bubbleCustom .content .master .details .franceFlag::after {
    content: ' ';
    position: absolute;
    background-color: #EF413564;
    width: 37%;
    height: 100%;
    right: 0;
    z-index: 1;
    border-bottom-right-radius: 16px;
}

.bubbleCustom .content .master .details .italyFlag {
    position: absolute;
    height: 50%;
    background-color: #F1F2F164;
    width: 100%;
    top: 0px;
    z-index: 1;
    left: 0px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.bubbleCustom .content .master .details .italyFlag::before {
    content: ' ';
    position: absolute;
    background-color: #00924664;
    width: 33.33%;
    height: 100%;
    z-index: 1;
    border-top-left-radius: 16px;
}

.bubbleCustom .content .master .details .italyFlag::after {
    content: ' ';
    position: absolute;
    background-color: #CE2B3764;
    width: 33.33%;
    height: 100%;
    right: 0;
    z-index: 1;
    border-top-right-radius: 16px;
}

.bubbleCustom .content .master .details .polandFlag {
    position: absolute;
    top: 50%;
    background-color: #F1F2F164;
    width: 100%;
    height: 50%;
    left: 0px;
    z-index: 1;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.bubbleCustom .content .master .details .polandFlag:after {
    content: ' ';
    position: absolute;
    background-color: #CE2B3764;
    height: 50%;
    width: 100%;
    bottom: 0px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    z-index: 1;
}


.bubbleCustom .content .master .details .spainFlag {
    position: absolute;
    height: 50%;
    width: 100%;
    top: 0px;
    z-index: 1;
    margin: auto;
    display: block;
    left: 0px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.bubbleCustom .content .master .details .spainFlag .stripe {
    display: block;
    width: 100%;
}

.bubbleCustom .content .master .details .spainFlag .top {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.bubbleCustom .content .master .details .spainFlag .red {
    background-color: #AA151B20 !important;
    height: 25% !important;
}

.bubbleCustom .content .master .details .spainFlag .yellow {
    background-color: #f1c10020 !important;
    height: 50% !important;
}



.bubbleCustom .content .master .details .title {
    z-index: 2;
    font-size: 1.8rem;
    font-weight: 600;
    color: white;
}

.bubbleCustom .content .master .details .group {
    display: flex;
    flex-direction: column;
    gap: 4px;
    z-index: 3;
}

.bubbleCustom .content .master .details .group .title {
    font-weight: 600;
    font-size: 16px;
    color: white;
}

.bubbleCustom .content .master .details .group .text {
    font-size: 14px;
    color: white;
    font-weight: 500;
}

.bubbleCustom .content .master .projects {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.bubbleCustom .content .master .projects>div {
    padding: 4px 16px 8px 16px;
    border-radius: 16px 4px 16px 4px;
    flex-grow: 1;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}

.bubbleCustom .content .master .projects .ups {
    background-color: #64003D;
}

.bubbleCustom .content .master .projects .upm {
    background-color: #0860A8;
}

.bubbleCustom .content .master .projects .wut {
    background-color: #6AB597;
}

.bubbleCustom .content .master .projects .ups>img {
    position: absolute;
    right: 4px;
    top: 4px;
    height: 32px;
}

.bubbleCustom .content .master .projects .upm>img {
    position: absolute;
    right: 4px;
    top: 4px;
    height: 48px;
}

.bubbleCustom .content .master .projects .wut>img {
    position: absolute;
    right: 4px;
    top: 4px;
    height: 48px;
}

.bubbleCustom .content .master .projects .description {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.bubbleCustom .content .master .projects .description .title {
    font-size: 16px;
    font-weight: 600;
}

.bubbleCustom .content .master .projects .description .text {
    font-size: 12px;
}

.bubbleCustom .content .master .projects .button {
    font-weight: 600;
    font-size: 14px;
    background-color: white;
    padding: 4px 16px;
    width: fit-content;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    outline: none;
}

.bubbleCustom .content .master .projects .button .arrow {
    margin-left: 4px;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateX(-10px);
}

.bubbleCustom .content .master .projects .button:hover .arrow {
    opacity: 1;
    transform: translateX(0);
}

.bubbleCustom .content .master .projects .ups .button {
    color: #64003D;
}

.bubbleCustom .content .master .projects .upm .button {
    color: #0860A8;
}

.bubbleCustom .content .master .projects .wut .button {
    color: #2D3843;
}

.callToAction {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-self: center;
    margin-bottom: 32px;
}

.callToAction .title {
    font-size: 1.4rem;
    text-align: center;
}

.callToAction .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

.callToAction .buttons .leftButton {
    background-color: #0000FF;
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
}

.callToAction .buttons .rightButton {
    background-color: white;
    color: #0000FF;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
}


/* Work Experience */

/* Air Liquide */
.bubbleCustom .content .master .air-liquide {
    background-image: url('../../assets/img/AirLiquideBg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bubbleCustom .content .master .air-liquide .blueFilter {
    width: 100%;
    height: 100%;
    background-color: #00349B80;
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 16px;
}

.bubbleCustom .content .master .air-liquide-box {
    background-color: white;
    gap: 4px !important;
}

.bubbleCustom .content .master .air-liquide-box .title {
    color: #DD1B2D;
    font-weight: 600;
}

.bubbleCustom .content .master .air-liquide-box .text {
    color: #355C96;
    font-size: 14px;
    font-weight: 400;
}

.bubbleCustom .content .master .air-liquide-box .text span {
    font-weight: 500;
}

.gap-8 {
    gap: 8px !important;
}


/* Niipy */
.bubbleCustom .content .master .niipy {
    background-image: url('../../assets/img/Niipy.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bubbleCustom .content .master .niipy .blueFilter {
    width: 100%;
    height: 100%;
    background-color: #3B797D80;
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 16px;
}

.bubbleCustom .content .master .niipy-box {
    background-image: linear-gradient(90deg, #08B17B, #33904B);
    gap: 4px !important;
}

.bubbleCustom .content .master .niipy-box .title {
    color: white;
    font-weight: 600;
}

.bubbleCustom .content .master .niipy-box .text {
    color: white;
    font-size: 14px;
    font-weight: 400;
}

.bubbleCustom .content .master .niipy-box .text span {
    font-weight: 500;
}

/* Rosterbook */
.bubbleCustom .content .master .rosterbook {
    background-image: url('../../assets/img/Rosterbook.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bubbleCustom .content .master .rosterbook .blueFilter {
    width: 100%;
    height: 100%;
    background-color: #6A717090;
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 16px;
}

.bubbleCustom .content .master .rosterbook-box {
    background-image: linear-gradient(90deg, #F76162, #E67203);
    gap: 4px !important;
}

.bubbleCustom .content .master .rosterbook-box .title {
    color: white;
    font-weight: 600;
}

.bubbleCustom .content .master .rosterbook-box .text {
    color: white;
    font-size: 14px;
    font-weight: 400;
}

.bubbleCustom .content .master .rosterbook-box .text span {
    font-weight: 500;
}

/* Selected Work */
.gap-0 {
    gap: 0px !important;
}

.content .title-gallery {
    font-size: 24px;
    font-weight: 600;
    padding: 16px 0px 0px 24px;
}

/* Contacts */
.contacts {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding: 8px 48px;
}

.contacts>div {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.contacts>div .title {
    border-radius: 8px;
    font-weight: 600;
    color: white;
    padding: 4px 16px;
    width: fit-content;
}

.contacts .work .title {
    background-image: linear-gradient(90deg, #000080, #0000FF);
}

.contacts .other .title {
    background-image: linear-gradient(90deg, #F76162, #E67203);
}

.contacts>div .groupContact .icon img {
    width: 36px;
    height: 36px;
}

.contacts>div .groupContact .data {
    font-size: 14px;
}

.contacts>div .groupContact .data .description {
    font-weight: 500;
}

.contacts>div .groupContact {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.contacts>div .groupContact .data .link {
    text-decoration: underline;
    cursor: pointer;
}