@import url('css/general-sans.css');
@import url('css/swear-display.css');
@import url('css/swear-text.css');

/* Global Styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'General Sans', sans-serif;
  font-size: 12px;
  background-color: #F8F9FA;
  /* max-height: 100vh; */
  /* overflow: hidden; */
}

.App {
  background-color: #F8F9FA;
  padding-left: 8vw;
  padding-right: 8vw;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
}

.disclamer {
  display: flex;
  gap: 4px;
  font-family: 'Swear Display';
  font-weight: bold;
  font-size: 1.4rem;
  background-image: linear-gradient(90deg, #000080, #0000FF);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: default;
  height: min-content;
  width: 100%;
  justify-content: start;
  flex-wrap: wrap;
  margin-bottom: 48px;
  margin-top: 16px;
}

.textColorChange:hover {
  background-image: linear-gradient(90deg, #08B17B, #33904B);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header {
  cursor: default;
}

.myName {
  display: flex;
  font-size: 4.4rem;
  font-weight: 400;
  align-items: baseline;
  gap: 16px;
  flex-wrap: wrap;
  line-height: 60px;
}

.bigMe {
  font-size: 4.8rem;
}

.blue {
  background-image: linear-gradient(90deg, #000080, #0000FF);
  transition: opacity 0.5s ease-in-out;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.funny {
  font-family: 'Swear Display';
  font-weight: bold;
  font-style: italic;
  font-size: 4.4rem;
  background-image: linear-gradient(90deg, #F76162, #E67203);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: default;
  width: fit-content;
  line-height: 80px;
}

.msc {
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 48px;
  font-style: italic;
}

.callToActions {
  display: flex;
  width: 100%;
  justify-content: start;
  gap: 16px;
  flex-wrap: wrap;
  padding: 16px 0px;
}

.buttonAction {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.buttonAction .button {
  border-radius: 16px;
  padding: 4px 24px;
  font-size: 1.2rem;
  background: linear-gradient(#F8F9FA, #F8F9FA) padding-box, linear-gradient(90deg, #F76162, #E67203) border-box;
  border: 1px solid transparent;
  cursor: pointer;
  width: fit-content;
}

.buttonAction .button:hover {
  color: #FFF;
  background-color: linear-gradient(90deg, #F76162, #E67203);
  background: linear-gradient(90deg, #F76162, #E67203) border-box;
}

.buttonAction .button:hover+.myMessage {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.myMessage {
  opacity: 0;
  visibility: hidden;
  display: flex;
  /* Ensure the layout is respected */
  transform: translateY(10px);
  /* Optional: slightly move the element down initially */
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  flex-direction: row;
  gap: 8px;
}

.smallProfile {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.bubble {
  background-color: #E9EBF2;
  border-radius: 0px 8px 8px 8px;
  padding: 4px 8px;
  max-width: 80px;
  font-size: 0.8rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: center;
  margin-top: 36px;
  margin-bottom: 16px;
  max-height: 80px;
}

.contacts {
  display: flex;
  flex-direction: row;
  gap: 12px;
  flex-flow: row wrap;
  text-wrap: wrap;
  line-break: anywhere;
}

.contacts .icon {
  width: 36px;
  height: 36px;
}

.copyright {
  font-size: 12px;
  color: #90939e;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

/* Ask to Me section */

.AskToMe {
  background-color: #F8F9FA;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px 0px 0px 8vw;
}

.content {
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 16px;
  flex: 1;
  overflow: hidden;
  height: fit-content;
  width: 100%;
  text-wrap: wrap;
}

.leftPanel {
  padding: 16px 0px;
  text-wrap: nowrap;
}

.titlePage {
  font-family: 'Swear Display';
  font-weight: bold;
  font-style: italic;
  font-size: 3.4rem;
  background-image: linear-gradient(90deg, #000080, #0000FF);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: default;
  line-height: 80px;
  align-self: center;
}

.chatSpace {
  align-self: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  flex: 1;
  overflow-y: auto;
  height: 90%;
}

.myMessageChat {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
}

.profilePicChat {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.bubbleChat {
  background-color: #E9EBF2;
  border-radius: 0px 8px 8px 8px;
  padding: 4px 8px;
  font-size: 1rem;
  text-wrap: wrap;
  max-width: 90%;
  width: fit-content;
}

.bubbleChat span {
  background-image: linear-gradient(90deg, #000080, #0000FF);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}

.messageSide {
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 100%;
}

.messageSide .nameSender {
  font-weight: 500;
  width: fit-content;
}

.userMessage {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: fit-content;
  margin-left: auto;
  text-align: right;
}

.userMessage .title {
  font-weight: 500;
}

.userMessage .questions {
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: flex-end;
}

.userMessage .questions .question {
  padding: 8px 16px;
  font-size: 1rem;
  border-radius: 16px;
  border: 1px solid #0000FF;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
  width: fit-content;
}

.userMessage .questions .question:hover {
  color: white;
  background-color: #0000FF;
}

.conversation .userMessage {
  gap: 0px;
}

.bubbleUser {
  background-color: #0101ED;
  color: white;
  border-radius: 8px 0px 8px 8px;
  padding: 8px 8px;
  font-size: 1rem;
  text-wrap: wrap;
  width: fit-content;
}


.shimmer>div {
  animation-duration: 2.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: #ddd;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 1200px 100%;
  border-radius: 20px;
  height: 40px;
}


@-webkit-keyframes shimmer {
  0% {
    background-position: -100% 0;
  }

  100% {
    background-position: 100% 0;
  }
}

@keyframes shimmer {
  0% {
    background-position: -1200px 0;
  }

  100% {
    background-position: 1200px 0;
  }
}

.shimmer {
  width: 64%;
  height: 50px;
  border-radius: 0px 16px 16px 16px;
  position: relative;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #e9ebf2;
}

.shimmer .longLine {
  width: 100%;
}

.shimmer .shortLine {
  width: 40%;
}

/* Selected Work */

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3 projects per row */
  gap: 20px;
  padding: 20px;
  overflow-y: auto;
}

.underline {
  text-decoration: underline !important;
}